<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      nternalLogLevel="Debug"
      internalLogFile="D:\Samples\App.Telemetry\App.TelemetryService\bin\Debug\net6.0\nlog-internal.txt"
      internalLogToConsole="true"
      throwConfigExceptions="true">
	<targets>
		<target name="console" type="Console" layout="${message}" />
		<target name="logfile" xsi:type="File"
				fileName="logs\${event-properties:item=userName}\${event-properties:item=sessionId}_${shortdate}.log"
				layout="${counter} | ${date:format=yyyy-MM-dd HH\:mm\:ss.ffff} | ${machinename} | ${level:uppercase=true} | ${logger:shortName=true} | ${message:exceptionSeparator=EXCEPTION:withException=true}"
				keepFileOpen="true"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>
 