<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog444">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      nternalLogLevel="Debug"
	      internalLogFile="D:\Samples\App.Telemetry\App.Desktop\bin\Debug\nlog-internal.txt"
	      internalLogToConsole="true"
	      throwConfigExceptions="true">
		<extensions>
			<add assembly="App.Desktop"/>
		</extensions>
		<targets>
			<target name="console" type="Console" layout="${message}" />
			<target type="LoggingService" name="loggingservice">
				<target type="WebService"
						name="ws"
						url="http://localhost:5246/api/Logging/LogEvent"
						protocol="JsonPost">
					<parameter name="">
						<layout xsi:type="JsonLayout" >
							<attribute name='userName' layout="${gdc:item=UserName}" />
							<attribute name='sessionId' layout="${event-properties:item=sessionId}" />
							<attribute name='logger' layout='${logger}' />
							<attribute name='time' layout='${longdate}' />
							<attribute name='level' layout='${level}' />
							<attribute name="message" layout="${message}" />
							<attribute name="exception" layout="${exception:format=tostring}" />
							<attribute name="exception.type" layout="${exception:format=type}" />
							<attribute name="exception.message" layout="${exception:format=message}" />
							<attribute name="exception.stacktrace" layout="${exception:format=stacktrace}" />
						</layout>
					</parameter>
				</target>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="loggingservice" />
			<logger name="*" minlevel="Trace" writeTo="console" />
		</rules>
	</nlog>
	<system.net>
		<defaultProxy enabled="True">
		</defaultProxy>
	</system.net>
</configuration>